@model ThriveHealth.Web.Models.ViewModels.SupplierEditViewModel
<div class="row g-3">
    <div class="col-md-8"><label asp-for="Name" class="form-label"></label><input asp-for="Name" class="form-control" /></div>
    <div class="col-md-4"><label asp-for="Code" class="form-label"></label><input asp-for="Code" class="form-control text-uppercase" maxlength="20" /></div>
    <div class="col-md-6"><label asp-for="ContactPerson" class="form-label"></label><input asp-for="ContactPerson" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="Phone" class="form-label"></label><input asp-for="Phone" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="Email" class="form-label"></label><input asp-for="Email" class="form-control" /></div>
    <div class="col-md-12"><label asp-for="Address" class="form-label"></label><input asp-for="Address" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="TaxId" class="form-label"></label><input asp-for="TaxId" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="RcNumber" class="form-label"></label><input asp-for="RcNumber" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="PaymentTerms" class="form-label"></label><input asp-for="PaymentTerms" class="form-control" placeholder="Net 30" /></div>
    <div class="col-md-3"><label asp-for="LeadTimeDays" class="form-label"></label><input asp-for="LeadTimeDays" type="number" class="form-control" /></div>
    <div class="col-md-6"><label asp-for="BankName" class="form-label"></label><input asp-for="BankName" class="form-control" /></div>
    <div class="col-md-6"><label asp-for="BankAccountNumber" class="form-label"></label><input asp-for="BankAccountNumber" class="form-control" /></div>
    <div class="col-md-12 form-check ms-2"><input asp-for="IsActive" class="form-check-input" /><label asp-for="IsActive" class="form-check-label">Active</label></div>
</div>
